@lt-gray: #ddd;
@background-dark: hsl(140, 58%, 42%);
@background-light: hsl(39, 58%, 42%);
@background-pale: hsl(59, 65%, 75%);

@carousel-item-height:300px;


.zero-margin (@pad-up-dn:0px,@pd-left-right:0px){
    margin: 0px auto;
    padding:  @pad-up-dn @pad-left-right;
}


.row-header{
    .zero-margin();
}
.row-content{
    .zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: @background-pale;
    .zero-margin(20px,0px);
}
.jumbotron{
    .zero-margin(70px,30px);
    background: @background-light;
    color: white;
}
.address{
font-size: 80%;
margin:0px;
color: rgb(red, green, blue);
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel{
    background: @background-dark;
    .carousel-item{
        height: @carousel-item-height;
        img{
            position: absolute;
            top:0;
        }

    }
}